.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.error {
    border: 2px solid red;
}

.errorMessage {
    color: red;
}

.active {
    background-color: lightcyan;
}

.isDone {
    opacity: .5;
}

.deleteItem {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 50%;
    border: none;
    background-color: lightcoral;
    color: whitesmoke;
}